body {
    margin: 0px;
}

#corpo {
    width: 1920px;
    height: 945px;
    display: flex;
    flex-direction: row; 
}

#menu {
    width: 15%;
    height: 100%;
    background: linear-gradient(to top,#b1f2f7, #abd0f3, #f4c6fd);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

#foto {
    border:solid black;
    margin-top: 20px;
    width: 55%;
    height: 17%;
    border-radius: 45%;
}

#informacoes {
    width: 85%;
    height: 100%;
    background-image: url(../assets/fundo.jpg);
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacoes {
    width: 100%;
    height: 60px;
    margin: 5px;
    background: linear-gradient(to right, #afcadf, #d7afdf);
    display: flex;
    align-items: center;
}

.infodiv {
    background-color: azure; 
    border: solid rgba(255, 0, 0, 0); 
    width: 80%;
    border-radius: 5px;
}

h1 {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
}